
[submodule "pointcloud_to_laserscan"]
	path = pointcloud_to_laserscan
	url = https://github.com/ros-perception/pointcloud_to_laserscan.git
	branch = jazzy
[submodule "ws/src/pointcloud_to_laserscan"]
	path = ws/src/pointcloud_to_laserscan
	url = https://github.com/ros-perception/pointcloud_to_laserscan.git
	branch = jazzy
[submodule "ws/pointcloud_to_laserscan"]
	path = ws/pointcloud_to_laserscan
	url = https://github.com/ros-perception/pointcloud_to_laserscan.git
	branch = jazzy
[submodule "ws/direct_lidar_inertial_odometry"]
	path = ws/direct_lidar_inertial_odometry
	url = https://github.com/vectr-ucla/direct_lidar_inertial_odometry.git
	branch = feature/ros2
[submodule "ws/ouster-ros"]
	path = ws/ouster-ros
	url = https://github.com/ouster-lidar/ouster-ros.git
	branch = ros2
